@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #434343 0%, black 100%);
}

@font-face {
    font-family: 'PacificoRegular';
    src: url('@/assets/fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AntonRegular';
  src: url('@/assets/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  